<section id="emailer" style="font-family: Arial, Helvetica, sans-serif;">
  <div class="text-center">
    <table class="main-wrapping-table" style="max-width: 600px;margin: 30px auto;
      padding-top: 3%;background: #ffffff;border:1px solid #e2e2e2;box-shadow: 10px 10px 20px rgba(201,201,201,0.2);">
      <tr style="text-align:center;width: 100%;">
        <td>
          <table align="center">
<!--            <img src="https://i.ibb.co/zPvt7Fy/emailer-logo.png" alt="emailer-logo" border="0">-->
            <h2 style="color: #002EA7;">Welcome to Auth.com</h2>
          </table>
          <table align="left">
            <p style="text-align: left;padding:0 3%;margin-top: 6%;">Hello <%= @email %>,</p>
            <p style="text-align: left;padding: 0 3%;">You can login your account through the password below:</p>
          </table>
          <div class="text-center" style="color: #e85034; background-color: #f0ebeb">
            <%= @password %>
          </div>
          <div class="text-left">
            <p style="text-align: left;padding: 0 3%;">is the temporary password for logging into our Auth Administration dashboard. Once logged in, you need to change the temporary password to make the account secure.</p>
          </div>
          <table align="left">
            <p style="text-align: left;margin-left: 30%;width: 100%">Regards, <br> Shubham <br> Auth.com</p>
          </table>
        </td>
      </tr>
      <tr style="display: inline-table;background-color: #f3f3f3;text-align: center;width: 100%;">
        <td style="padding: 10px;font-size: 12px;">COPYRIGHT © <%= Time.zone.now.year %> <a href="#" style="color: #000;">Auth.com</a> INC.
          All rights reserved.
        </td>
      </tr>
    </table>
  </div>
</section>

