!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome, #{@user.email}
    %p
      Access to app under following URL: #{@url}.
    %p Thanks for joining and have a great day!
