%footer.main-footer
  .float-right.d-none.d-sm-block
    %b Version
    1.0.0
  %strong
    Copyright © #{Time.zone.now.year}
    = succeed "." do
      %a{:href => "http://adminlte.io"} user_auth.com
  All rights
  reserved.