%section.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1 Dashboard
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => "/"} Home
          %li.breadcrumb-item.active Dashboard
    .row.mb-2
      %h3
        Dashboard content
.container
  - if current_user.superadmin_role? || current_user.supervisor_role?
    %h3 Visible only for superadmins and supervisors!
  - if can? :manage, User
    %h3 Visible only for superadmins and supervisors!


  -#%h3 This is Home Page
  .sidebar.text-right
    - if user_signed_in?
      = link_to('Edit registration', edit_user_registration_path)
    - else
      = link_to('Register', new_user_registration_path)
      = link_to('Login', new_user_session_path)





